.title {
   text-align: center;
   background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
   width: 400px;
   margin: auto;
   border-radius: 20px;
}

.title-label {
    width: 400px;
    font-size: 32px;
}

.btn {
    margin: 50px auto;
    display: block;
    width: 400px;
    border-radius: 10px;
    color: white;
    transition: 2s linnear;
    background: #0B63F6;
    height: 40px;
}

.btn:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

.board-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.cell {
    border: 3px solid black;
    border-radius: 10px;
    width: 100px;
    height:100px;
}

.activated {
    background-image: url('../img/goblin.png');
    background-position: center;
}

